{{#partial "title" }}
    Check out my travel photos!
{{/partial}}

{{#partial "content"}}
    <h1>Favorite Traveling Photos</h1>
    <ul>
      <li><img src='/images/eric-gilkes-286268.jpg' alt='My cozy trailer.'/></li>
      <li><img src='/images/samuel-zeller-103111.jpg' alt='This awesome show I went to.'/></li>
    </ul>
{{/partial}}

{{> layout.hbs}}
